### Python 문법

# integer, float operation

In [61]:
# solution
print(500 + 900)
print(30 - 15)
print(10 * 100)
print(100 / 10)
print(1.1 + 123.9)
print(121.1 - 1.1)
print(1.123 * 4.123)
print(3.3 / 1.1)

1400
15
1000
10.0
125.0
120.0
4.630129
2.9999999999999996

# String Handling

In [2]:
str1 = '문자열다뤄봐요'

In [3]:
# solution
print(str1[2])

열

In [5]:
str1 = '문자열다뤄봐요  '
str2 = '  한양대특강'
str3 = '  파이떤 참 쉽죠?  '

In [6]:
# solution
str1 = str1.rstrip()
str2 = str2.lstrip()
str3 = str3.strip()
print(str1)
print(str2)
print(str3)

문자열다뤄봐요
한양대특강
파이떤 참 쉽죠?

#### format문 사용하기

In [7]:
# ex3
x = 1
y = 2

# 여기에 목표하는 format문을 작성해보세요.
print('와 를 더하면 입니다.')

와 를 더하면 입니다.

In [8]:
# solution
x = 1
y = 2

# 여기에 목표하는 format문을 작성해보세요.
print('{x}와 {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

1와 2를 더하면 3입니다.

# Data Type - List, Dictionary

#### 선언

In [10]:
# solution
list_1 = []
dict_1 = {}

#### element 추가

In [13]:
# 리스트 추가 solution1
list_1.append('a')
list_1.append('b')
list_1.append('c')

print(list_1)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [15]:
# 리스트 추가 solution2
list_1 += ['a', 'b', 'c']

In [16]:
print(list_1)

['a', 'b', 'c']

In [17]:
# 딕셔너리 추가 solution1
dict_1['a'] = 1
dict_1['b'] = 2
dict_1['c'] = 3

print(dict_1)

{'c': 3, 'a': 1, 'b': 2}

In [20]:
# 딕셔너리 추가 solution2
dict_1 = dict(a=1, b=2, c=3)
print(dict_1)

{'c': 3, 'a': 1, 'b': 2}

#### 반복문 - for 문

In [11]:
# for문 solution

# one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
one_to_ten = range(1, 10+1)
for i in one_to_ten:
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 모듈 불러오기

In [12]:
# 모듈 불러오기 solution
import random
import time

#### random 모듈 사용하기 - 리스트 중 하나 고르기

In [13]:
# random모듈 사용하기 solution
games = ['가위', '바위', '보']
random.choice(games)

'보'

#### time 모듈 사용하기 - 5초 쉬기

In [14]:
# time모듈 solution
one_to_five = range(1, 5+1)
for i in one_to_five:
    print(i)
    time.sleep(3)

1
2
3
4
5

#### 예외처리

In [16]:
# 예외처리
v1 = '2'
v2 = 2

v3 = v2 / v1

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [17]:
# 예외처리 solution
try:
    v1 = '2'
    v2 = 2

    v3 = v2 / v1
except(TypeError) as e:
    print('오류가 발생했어요!')

오류가 발생했어요!

In [18]:
# 예외처리 표시 solution
try:
    v1 = '2'
    v2 = 2

    v3 = v2 / v1
except(TypeError) as e:
    print('{} 오류가 발생했어요!'.format(e.__class__.__name__))

TypeError 오류가 발생했어요!

#### 함수 선언

In [19]:
# 함수선언 solution
def sumsum(x, y):
    print('{x}(와/과) {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

def subsub(x, y):
    print('{x}(와/과) {y}를 빼면 {z}입니다.'.format(x=x, y=y, z=x-y))

def mulmul(x, y):
    print('{x}(와/과) {y}를 곱하면 {z}입니다.'.format(x=x, y=y, z=x*y))

def divdiv(x, y):
    print('{x}(와/과) {y}를 나누면 {z}입니다.'.format(x=x, y=y, z=x/y))

sumsum(123, 456)
subsub(123, 456)
mulmul(123, 456)
divdiv(123, 456)

123(와/과) 456를 더하면 579입니다.
123(와/과) 456를 빼면 -333입니다.
123(와/과) 456를 곱하면 56088입니다.
123(와/과) 456를 나누면 0.26973684210526316입니다.

#### 클래스 선언과 객체 생성 및 사용

In [20]:
# 클래스선언 solution
class Calculator():
    def sumsum(self, x, y):
        print('{x}(와/과) {y}를 더하면 {z}입니다.'.format(x=x, y=y, z=x+y))

    def subsub(self, x, y):
        print('{x}(와/과) {y}를 빼면 {z}입니다.'.format(x=x, y=y, z=x-y))

    def mulmul(self, x, y):
        print('{x}(와/과) {y}를 곱하면 {z}입니다.'.format(x=x, y=y, z=x*y))

    def divdiv(self, x, y):
        print('{x}(와/과) {y}를 나누면 {z}입니다.'.format(x=x, y=y, z=x/y))
        
계산기 = Calculator()

계산기.sumsum(123, 456)

123(와/과) 456를 더하면 579입니다.

# Pandas 다루기

#### pandas 불러오기

In [21]:
# pandas 불러오기 solution
import pandas as pd

#### 데이터프레임 생성하기

In [22]:
# dataframe 생성
list_1 = [1, 2, 3, 4]
list_2 = ['a', 'b', 'c', 'd']

In [23]:
# dataframe 생성 solution
pd.DataFrame([list_1, list_2])

   0  1  2  3
0  1  2  3  4
1  a  b  c  d

#### row와 column을 전환하기

In [24]:
# transpose solution
list_1 = [1, 2, 3, 4]
list_2 = ['a','b', 'c', 'd']

pd.DataFrame([list_1, list_2]).T

   0  1
0  1  a
1  2  b
2  3  c
3  4  d

#### DataFrame Column명 변경하기

In [25]:
# column명 변경 solution
list_1 = ['장동건', '원빈', '정우성']
list_2 = [45, 39, 44]

celeb_df = pd.DataFrame([list_1, list_2]).T
celeb_df.columns = ['이름', '나이']
celeb_df

    이름  나이
0  장동건  45
1   원빈  39
2  정우성  44

#### DataFrame column 조회하기

In [26]:
# column 조회 solution
celeb_df['이름']

0    장동건
1     원빈
2    정우성
Name: 이름, dtype: object

#### DataFrame row 조회하기

In [27]:
# row 조회 solution1
celeb_df.loc[1]
# row 조회 solution2
celeb_df[celeb_df['이름'] == '원빈']

   이름  나이
1  원빈  39

#### DataFrame 정렬하기

In [28]:
# DataFrame 정렬 solution
celeb_df.sort_values('나이')

    이름  나이
1   원빈  39
2  정우성  44
0  장동건  45

In [29]:
# DataFrame 정렬 solution
celeb_df.sort_values('나이', ascending=False)

    이름  나이
0  장동건  45
2  정우성  44
1   원빈  39

# selenium 다루기

#### selenium의 webdriver 모듈을 불러오기

In [30]:
# selenium webdriver 불러오기
from selenium import webdriver

#### webdriver객체를 생성하기

In [36]:
# 객세생성 solution
driver = webdriver.Chrome()

#### 네이버 접속하기

In [37]:
# naver 접속하기 solution
driver.get('http://www.naver.com')

#### 네이버 로그인하기

In [38]:
# naver 로그인 solution
id_element = driver.find_element_by_id('id')
pw_element = driver.find_element_by_id('pw') 

id_element.send_keys('__id__')
pw_element.send_keys('__password__')

login_button = driver.find_element_by_css_selector('span.btn_login')
login_button.click()

## 맛집추천 선택지 중 랜덤하게 뽑아보는 프로그램을 작성

In [ ]:
import sys
import time
from selenium import webdriver
from selenium.common import exceptions

# 데이터 수집을 위한 망고플레이트 크롤링

#### 브라우저 객체 생성

In [ ]:
driver = webdriver.Chrome()

#### 망고플레이트 사이트 접속

In [ ]:
driver.get("https://www.mangoplate.com/")

#### 망고플레이트 검색창 엘리먼트 탐색 및 검색어 입력

In [ ]:
search_element = driver.find_element_by_css_selector('#main-search')
search_element.clear()
search_element.send_keys('한대앞역')

search_button = driver.find_element_by_css_selector(".btn-search")
search_button.click()

# 식당 상호명 리스트 생성

#### 1페이지 정보 가져오기

In [ ]:
restaurant_list = driver.find_element_by_css_selector('ul.list-restaurants')
restaurant_info = restaurant_list.find_elements_by_css_selector('figure.restaurant-item')

In [ ]:
total_restaurant_info_list = []
for i in restaurant_info[:10]:
    try:
        name, address = i.find_element_by_css_selector('.thumb img').get_attribute('alt').split('사진 -')
        total_restaurant_info_list.append(name.strip())
    except(exceptions.NoSuchElementException):
        break

In [ ]:
total_restaurant_info_list

#### 2페이지부터 정보 가져오기

In [ ]:
# 수정 17.10.10 - 예외처리 
try:
    page_nums = driver.find_element_by_css_selector('.paging').find_elements_by_css_selector('.ng-binding.ng-scope')[1:]

    cnt = 0
    for p in page_nums:
        cnt += 1
        sys.stdout.write('\r%d / %d' % (cnt, len(page_nums)))
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        p.click()
        time.sleep(5)
        restaurant_list = driver.find_element_by_css_selector('ul.list-restaurants')
        restaurant_info = restaurant_list.find_elements_by_css_selector('figure.restaurant-item')
        for i in restaurant_info[:10]:
            name, address = i.find_element_by_css_selector('.thumb img').get_attribute('alt').split('사진 -')
            total_restaurant_info_list.append(name.strip())

except(exceptions.ElementNotVisibleException) as e:
    pass

print('END!')

#### 한대앞역 망고플레이트 맛집 상호명 리스트

In [ ]:
total_restaurant_info_list

# 식당 랜덤하게 뽑기

In [ ]:
import random
random.choice(total_restaurant_info_list)

## 실습02번에서 랜덤하게 뽑은 맛집을 지도에 시각화해봅시다

#### 지도에 시각화하려면 어떤 정보가 필요할까요?

저희가 평소 이용하는 네이버 지도, 구글맵 등은 지역포인트를 위/경도로 표시합니다.

저희도 이처럼 데이터를 위/경도로 변환하는 여러 방법을 알아보도록 합시다.

In [ ]:
import sys
import time
from selenium import webdriver
from selenium.common import exceptions

# 데이터 수집을 위한 망고플레이트 크롤링

#### 브라우저 객체 생성

In [ ]:
driver = webdriver.Chrome()
driver.get("https://www.mangoplate.com/")

#### 망고플레이트 검색창 엘리먼트 탐색 및 검색어 입력

In [ ]:
search_element = driver.find_element_by_css_selector('#main-search')
search_element.clear()
search_element.send_keys('한대앞역')

search_button = driver.find_element_by_css_selector(".btn-search")
search_button.click()

# 식당 상호명 리스트 생성

In [ ]:
restaurant_list = driver.find_element_by_css_selector('ul.list-restaurants')
restaurant_info = restaurant_list.find_elements_by_css_selector('figure.restaurant-item')

total_restaurant_info_list = []
for i in restaurant_info[:10]:
    try:
        name, address = i.find_element_by_css_selector('.thumb img').get_attribute('alt').split('사진 -')
        total_restaurant_info_list.append((name.strip(), address.strip()))
    except(exceptions.NoSuchElementException):
        break

# 오류수정 17.10.10
# 한대앞역 으로 검색했을때는 여러 페이지 등장 했으나, 다른 검색어 '안산 한양대' 의 경우에는
#  1페이지 밖에 없어서 .paging 엘리먼트들이 없어서 ElementNotVisibleException 발생.
# 만약, 이 오류라면 pass 하는 것으로 로직변경
try:
    page_nums = driver.find_element_by_css_selector('.paging').find_elements_by_css_selector('.ng-binding.ng-scope')[1:]

    cnt = 0
    for p in page_nums:
        cnt += 1
        sys.stdout.write('\r%d / %d' % (cnt, len(page_nums)))
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        p.click()
        time.sleep(5)
        restaurant_list = driver.find_element_by_css_selector('ul.list-restaurants')
        restaurant_info = restaurant_list.find_elements_by_css_selector('figure.restaurant-item')
        for i in restaurant_info[:10]:
            name, address = i.find_element_by_css_selector('.thumb img').get_attribute('alt').split('사진 -')
            total_restaurant_info_list.append((name.strip(), address.strip()))
except(exceptions.ElementNotVisibleException) as e:
    pass

print('END!')

#### 한대앞역 망고플레이트 맛집 상호명과 주소

In [ ]:
total_restaurant_info_list[:3]

#### Pandas 로 csv파일로 만듭시다

In [ ]:
import pandas as pd

In [ ]:
restaurant_df = pd.DataFrame(total_restaurant_info_list, columns=['name', 'address'])

In [ ]:
restaurant_df.to_csv('./한대앞_망고플레이트_맛집목록.csv', index=False, encoding='utf8')

In [ ]:
restaurant_df

#### 1. Geocode by Awesome Table 사용

특강 시, 진행예정

In [ ]:
# 특강에서 설명할 적용방법을 진행 후, 아래의 코드 주석을 해제해주세요.

# restaurant_df = pd.read_csv('./restraunt_list.csv')
# restaurant_df.head(5)
# restaurant_df.columns = ['name', 'address', 'latitude', 'longitude']

#### 2. google geocode API를 사용

In [ ]:
import requests
import json

def get_latitude_longitude(addr):
    '''
    DESCRIPTION: 주소를 입력하면 위도(latitude)/경도(longitude)를 반환하는 함수 
    ex) get_latitude_longitude('경기도 안산시 상록구 한양대학로 55')
    '''
    location = addr
    response = requests.get('http://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko&address=' + location)    
    loc_dict = json.loads(response.text)
    latitude = loc_dict['results'][0]['geometry']['location']['lat'] 
    longitude = loc_dict['results'][0]['geometry']['location']['lng']
    return [latitude, longitude]

In [ ]:
latitude_list = []
longitude_list = []
for i in restaurant_df['address'].values:
    lat, lon = get_latitude_longitude(i)
    latitude_list.append(lat)
    longitude_list.append(lon)

restaurant_df['latitude'] = latitude_list
restaurant_df['longitude'] = longitude_list

# 수정 17.10.10 - API이용 버전 위/경도 반영 DataFrame 저장
restaurant_df.to_csv('./한대앞_망고플레이트_맛집목록_위경도.csv', index=False, encoding='utf8')

In [ ]:
restaurant_df.head(20)

In [ ]:
import folium

# 오류수정 17.10.10 - Latitude, Longitude를 latitude, longitude로 변경. 
hanyang_univ_map = folium.Map(location=[  37.298524, 126.834712], zoom_start=15)
for l in restaurant_df[['name', 'latitude', 'longitude']].values:
#    folium.Marker(l[1:],popup=l[0], icon=folium.Icon(color='red')).add_to(한양대지도)
    folium.CircleMarker(l[1:], popup=l[0], color='red', fill_color='red', radius=5).add_to(hanyang_univ_map)

In [ ]:
hanyang_univ_map

# 식당 랜덤하게 뽑기

In [ ]:
import random
# 식당 랜덤뽑기
rand_restaurant = random.choice(total_restaurant_info_list)[0]
# 식당정보 데이터프레임에서 뽑은 식당 정보 추출
print(restaurant_df[restaurant_df['name'] == rand_restaurant])
rand_latlng = restaurant_df[restaurant_df['name'] == rand_restaurant][['latitude', 'longitude']].values[0]
print(rand_latlng)

In [ ]:
# 지도 
# 오류 수정 17.10.10 - 지도 마커가 색칠되지않아 color를 red로 변경

hanyang_univ_map = folium.Map(location=[  37.300853, 126.842930], zoom_start=15)
folium.CircleMarker(rand_latlng, color='red', fill_color='red', radius=5).add_to(hanyang_univ_map)
hanyang_univ_map

## 실습04번: 현재 내 위치에서 가장 가까운 식당 찾고 시각화

In [ ]:
import pandas as pd

In [ ]:
restaurant_df = pd.read_csv('./한대앞_망고플레이트_맛집목록_위경도.csv')
# 칼럼명을 소문자 latitude, longitude로 변경
restaurant_df.columns = ['name', 'address', 'latitude', 'longitude']
restaurant_df.head(5)

In [ ]:
import requests
import json

def get_latitude_longitude(addr):
    '''
    DESCRIPTION: 주소를 입력하면 위도(latitude)/경도(longitude)를 반환하는 함수 
    ex) get_latitude_longitude('경기도 안산시 상록구 한양대학로 55')
    '''
    location = addr
    response = requests.get('http://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko&address=' + location)    
    loc_dict = json.loads(response.text)
    latitude = loc_dict['results'][0]['geometry']['location']['lat'] 
    longitude = loc_dict['results'][0]['geometry']['location']['lng']
    return [latitude, longitude]

In [ ]:
# 주소를 기반으로 위/경도 데이터 얻기
my_location = get_latitude_longitude('경기도 안산시 상록구 사3동 한양대학로55 한양대학교 경상대학')

### 현 위치를 알아냈으니, 이제 '가장 가까운' 식당을 찾아봅시다.

In [ ]:
import math
def haversine(my_location, target_location):
    '''
    DESCRIPTION: 두 위도경도 사이의 대원거리(great circle distance)를 계산. 위도경도는 각도 단위로 계산.
    '''
    latitude1, longitude1 = my_location
    latitude2, longitude2 = target_location
    lat1, lon1, lat2, lon2 = map(math.radians, [latitude1, longitude1, latitude2, longitude2])
    
    d_lat = lat2 - lat1
    d_lon = lon2 - lon1
    
    a = math.sin(d_lat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(d_lon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    
    meter = 6367 * c * 1000
    return round(meter, 2)

#### 현재 위치기반 모든 식당의 거리를 재봅시다.

In [ ]:
distance_list = []
for r in restaurant_df[['latitude', 'longitude']].values:
    distance_list.append(haversine(my_location, r))

In [ ]:
distance_list[:3]

In [ ]:
restaurant_df['distance'] = distance_list

In [ ]:
restaurant_df.head()

In [ ]:
near_restaurant_df = restaurant_df.sort_values('distance')
near_restaurant_df.reset_index(drop=True, inplace=True)
near_restaurant_df.head(5)

In [ ]:
nearest_latlng = near_restaurant_df.loc[0][['latitude', 'longitude']].values

In [ ]:
import folium
# 지도 
hanyang_univ_map = folium.Map(location=[  37.300853, 126.842930], zoom_start=15)
# 식당표시
folium.CircleMarker(nearest_latlng, color='red', fill_color='red', radius=5).add_to(hanyang_univ_map)
# 내 위치 표시
folium.CircleMarker(my_location, color='blue', fill_color='blue', radius=5).add_to(hanyang_univ_map)
hanyang_univ_map